*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 300px;
    height: 225px;
    background: rgb(0, 87, 128);
    position: relative;
    border-radius:28px;
    cursor: pointer;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.123);
    overflow: hidden;
}
.card img{
    /* position: absolute; */
    width: 100%;
    height: auto;
    border-radius: 18px;
    position: absolute;
}
.content{
    position: absolute;
    width: 100%;
    bottom: -15rem;
    height: 100%;
    padding: 1rem 2rem;
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter:blur(10px);
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.164);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144) ;
    overflow: hidden;
    transition: all 4s ease-in;
    /* transform: scaleX(1); */
}

.card:hover .content {
    /* top: 0rem; */
    /* transition-duration:5s ; */
    transform: translate(1px, 1px);
}

.content p{
    font-size: 0.8rem;

}
/* -------------------------------------------------- */



